@media only screen and (max-width: 480px) {
  header {
    color: white;
  }

  header#header {
    background-image: linear-gradient(60deg, #5C93E8, #350F9C);
    height: 350px;
    font-family: monospace;
    font-size: 18px;
  }

  header img {
    border-radius: 50%;
    width: 100px;
    border: 5px solid;
  }

  .categoy {
    display: inline-block;
    border: 1px solid #E33E84;
    width: 114px;
    margin: 10px;
    text-align: center;
    border-radius: 17px;
    height: 38px;
    padding-top: 10px;
    color: #E33E84;
    font-size: 18px;
    margin-left: 16px;
  }

  div#categories {
    padding: 10px;
  }

  h2#category-header {
    font-size: 28px;
    margin-left: 15px;
  }

  div#activities {
    padding: 10px;
  }

  h2#activities-header {
    font-size: 28px;
    margin-left: 15px;
  }

  i.fa.fa-times {
    float: right;
    margin-top: -40px;
    margin-right: 30px;
  }

  body {
    font-family: monospace;
    font-size: 15px;
    background-color: #f2fcff;
  }

  button#contact {
    background-color: #E33E84;
    width: 150px;
    height: 55px;
    color: white;
    border-radius: 15px;
    border: 1px white;
    margin-left: 125px;
  }

  div#activities-banner {
    margin-top: 12px;
  }

  #activities-div h3 {
    font-size: 27px;
    margin: 0;
    margin-top: 10px;
  }

  i.fa.fa-clock-o {
    font-size: 21px;
    color: #E33E84;
  }

  #activities-div p {
    font-size: 21px;
    display: inline-block;
  }

  #activities-div #piano {
    width: 444px;
    z-index: 100;
    margin-left: -22px;
    border-radius: 24px;
  }

  #activities-logo {
    border-radius: 50%;
    width: 100px;
  }

  div#centre-div,
  #activities-div {
    border: 1px solid white;
    border-radius: 25px;
    height: 425px;
    padding-left: 20px;
    box-shadow: 0 4px 8px #aaaaaa;
    margin-top: -20px;
    background-color: white;
    width: 420px;
    margin-left: 10px;
  }

  #centre-div h3 {
    font-size: 23px;
    font-weight: bold;
  }

  .centre-info {
    margin-bottom: 20px;
  }

  #centre-div h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  #centre-div p {
    margin: 0;
  }

  h3#header-title {
    text-align: center;
    padding-top: 25px;
  }

  div#header-img {
    text-align: center;
  }

  header#header {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  div#ratings {
    text-align: center;
    margin-top: 20px;
  }

  header p {
    text-align: center;
  }
}